{% extends "custom.html" %}

{% block body_attribs %} onload="REDIPS.drag.init()"
{%- endblock %}

{% block content %}
    {# <h1>Plogger!</h1> #}

    <div id="redips-drag">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
            <div id="scroll-users" class="redips-noautoscroll">
                <table id="users_table">
                    <colgroup>
                        <col width="150"/>
                    </colgroup>

                    <tbody>
                    <tr>
                        <td class="redips-mark redips-mark-mod">Users</td>
                        <td class="redips-mark"><button type="button" class="btn btn-primary btn-refresh-users">Refresh Users!</button></td>
                    </tr>
                    <tr>
                        {% for user in e_user %}

                            <td class="text-center">
                                <div class="redips-drag red" id="{{ user.id }}"><small>{{ user.date }} {{ user.time }}</small><br>{{ user.user_name|safe }}</div>
                            </td>
                            {% if loop.index % 2 == 0 %}
                                </tr>
                                <tr>
                            {% endif %}

                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        {# </div>
        <div class="row top-buffer"> #}
            <div id="scroll-events" class="col-md-2 col-md-offset-1 text-center redips-noautoscroll">

                <table id="events_table">
                    <colgroup>
                        <col width="150"/><col width="150"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark redips-mark-mod">Events</td>
                        <td class="redips-mark"><button type="button" class="btn btn-primary btn-refresh-events">Refresh Events!</button></td>
                    </tr>
                    <tr>
                    {% if e_pss %}
                        {% for event in e_pss %}
                        <td class="text-center">
                            <div class="redips-drag blue" id="{{ event.id }}"><small>{{ event.date }} {{ event.time }}</small>
                                <br>{{ event.data }}
                                <br><small><small>{{ event.pv_name_short }}</small></small></div>
                        </td>
                            {% if loop.index % 2 == 0 %}
                                </tr>
                                <tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td class="text-center">
                            <div id="-1">No Events Registered</div>
                        </td>
                    {% endif %}
                    </tr>
                    </tbody>
                </table>

            </div>
            <div id="scroll-events" class="col-md-2 col-md-offset-1 text-center redips-noautoscroll">
                <table id="misc_table">
                    <colgroup>
                        <col width="150"/><col width="150"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark redips-mark-mod">Miscellaneous</td>
                        <td class="redips-mark"><button type="button" class="btn btn-primary btn-refresh-events">Refresh Misc!</button></td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="redips-drag green redips-only text_only" id="text_only"><input class="form-control" id="text_input" type="text" /></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        {% for item in e_misc %}
                        <td class="text-center">
                            <div class="redips-drag green" id="{{ item }}">{{ item }}</div>
                        </td>
                            {% if loop.index % 2 == 0 %}
                                </tr>
                                <tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-1 col-md-offset-1 text-center">
                <table id="authorised">
                    <colgroup>
                        <col width="150">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark">Authorised By:</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-1 text-center">
                <table id="pss_log1">
                    <colgroup>
                        <col width="150"><col width="150"><col width="150"><col width="150"><col width="150">
                        <col width="150"><col width="150"><col width="150"><col width="150">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark">Date</td>
                        <td class="redips-mark">Time</td>
                        <td class="redips-mark">Master Shutter</td>
                        <td class="redips-mark">Access Mode</td>
                        <td class="redips-mark">SR</td>
                        <td class="redips-mark">BR</td>
                        <td class="redips-mark">Person</td>
                        <td class="redips-mark">Reason</td>
                        <td class="redips-mark">Comments</td>
                    </tr>
                    <tr>
                        <td id="date"></td>
                        <td id="time"></td>
                        <td id="master_shutter"></td>
                        <td id="access_mode"></td>
                        <td id=""></td>
                        <td id=""></td>
                        <td id="person"></td>
                        <td id="reason" class="text_only redips-only"></td>
                        <td id="comments" class="text_only redips-only"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-1 text-center">
                <table id="pss_log2">
                    <colgroup>
                        <col width="100"><col width="100"><col width="100"><col width="100"><col width="100"><col width="100">
                        <col width="100"><col width="100"><col width="100"><col width="100"><col width="100"><col width="100">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark">Keys Out</td>
                        <td class="redips-mark">Linac In</td>
                        <td class="redips-mark">Linac Out</td>
                        <td class="redips-mark">Nth Booster In</td>
                        <td class="redips-mark">Nth Booster Out</td>
                        <td class="redips-mark">Sth Booster In</td>
                        <td class="redips-mark">Sth Booster Out</td>
                        <td class="redips-mark">NE Storage In</td>
                        <td class="redips-mark">NE Storage Out</td>
                        <td class="redips-mark">SW Storage In</td>
                        <td class="redips-mark">SW Storage Out</td>
                        <td class="redips-mark">Keys In</td>
                    </tr>
                    <tr>
                        <td id="keys_out"></td>
                        <td id="linac_in"></td>
                        <td id="linac_out"></td>
                        <td id="nth_br_in"></td>
                        <td id="nth_br_out"></td>
                        <td id="sth_br_in"></td>
                        <td id="sth_br_out"></td>
                        <td id="ne_sr_in"></td>
                        <td id="ne_sr_out"></td>
                        <td id="sw_sr_in"></td>
                        <td id="sw_sr_out"></td>
                        <td id="keys_in"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <table id="signoff">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark">Sign-Off By:</td>
                        <td class="redips-mark"><button type="button" class="btn btn-primary btn_save_log">Save Log Data</button></td>
                    </tr>
                    <tr>
                        <td></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> {# end redips-drag #}


{% endblock %}