{% extends "custom.html" %}

{% block body_attribs %} onload="REDIPS.drag.init()"
{%- endblock %}

{% block content %}
    <h1>Plogger!</h1>

    <div id="redips-drag">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <table id="users_table">
                    <colgroup>
                        <col width="150"/>
                    </colgroup>

                    <tbody>
                    <tr>
                        <td class="redips-mark redips-mark-mod">Users</td>
                        {% for user in e_user %}

                            <td class="text-center">
                                <div class="redips-drag" id="{{ user.id }}"><small>{{ user.date }} {{ user.time }}</small><br>{{ user.user_name|safe }}</div>
                            </td>
                            {% if loop.index % 8 == 0 %}
                                </tr>
                                <tr>
                            {% endif %}

                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-2 col-md-offset-1 text-center">

                <table id="events_table">
                    <colgroup>
                        <col width="150"/><col width="150"/><col width="150"/><col width="150"/><col width="150"/><col width="150"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark redips-mark-mod">Events</td>
                    </tr>
                    <tr>
                    {% if e_pss %}
                        {% for event in e_pss %}
                        <td class="text-center">
                            <div class="redips-drag" id="{{ event.id }}"><small>{{ event.date }} {{ event.time }}</small>
                                <br>{{ event.data }}
                                <br><small>{{ event.pv_name }}</small></div>
                        </td>
                            {% if loop.index % 8 == 0 %}
                                </tr>
                                <tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td class="text-center">
                            <div id="-1">No Events Registered</div>
                        </td>
                    {% endif %}
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-1 col-md-offset-1 text-center">
                <table id="authorised">
                    <colgroup>
                        <col width="150">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark">Authorised By:</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-1 text-center">
                <table id="pss_log1">
                    <colgroup>
                        <col width="150"><col width="150"><col width="150"><col width="150"><col width="150">
                        <col width="150"><col width="150"><col width="150"><col width="150">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark">Date</td>
                        <td class="redips-mark">Time</td>
                        <td class="redips-mark">Master Shutter</td>
                        <td class="redips-mark">Access Mode</td>
                        <td class="redips-mark">SR</td>
                        <td class="redips-mark">BR</td>
                        <td class="redips-mark">Person</td>
                        <td class="redips-mark">Reason</td>
                        <td class="redips-mark">Comments</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-1 text-center">
                <table id="pss_log2">
                    <colgroup>
                        <col width="100"><col width="100"><col width="100"><col width="100"><col width="100"><col width="100">
                        <col width="100"><col width="100"><col width="100"><col width="100"><col width="100"><col width="100">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark">Keys Out</td>
                        <td class="redips-mark">Linac In</td>
                        <td class="redips-mark">Linac Out</td>
                        <td class="redips-mark">Nth Booster In</td>
                        <td class="redips-mark">Nth Booster Out</td>
                        <td class="redips-mark">Sth Booster In</td>
                        <td class="redips-mark">Sth Booster Out</td>
                        <td class="redips-mark">NE Storage In</td>
                        <td class="redips-mark">NE Storage Out</td>
                        <td class="redips-mark">SW Storage In</td>
                        <td class="redips-mark">SW Storage Out</td>
                        <td class="redips-mark">Keys In</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-1 text-center">
                <table id="signoff">
                    <colgroup>
                        <col width="150">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="redips-mark">Sign-Off By:</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> {# end redips-drag #}


{% endblock %}