{% extends "custom.html" %}



{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container-fluid">
        <form action="/register/" method="post">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h1>Register Access Card</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5 text-center">
                    <div class="form-group has-feedback">
                        <label for="access_id">Access Card ID:</label>
                        <input type="text" class="form-control" id="access_id" name="access_id">
                        <span class="label label-info form-control-feedback form-control-feedback-facility" id="facility_id"></span>
                        <span class="label label-primary form-control-feedback form-control-feedback-card" id="card_id"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5 text-center">
                    <div class="form-group">
                        <label for="user_name">User Name:</label>
                        <select class="selectpicker" id="user_name" name="user_name" data-width="100%" title="Select a user name...">
                            {% for name in ldap -%}
                            <option value="{{ name }}">{{ name }}</option>
                            {%-  endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5 text-center">
                    <input type="hidden" name="register" value="true">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-primary btn-update">Refresh</button>
                    <button type="button" class="btn btn-warning btn-check">Check ID</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="application/javascript">

    $(".btn-update").click(function(){
        $.post("/ui/",
                {
                    rfid: 'true'
                },
        function(data,status){
            //console.log(data.result[0],data.result[1],data.result[2]);
            $('#access_id').val(data.result[0]);
            $('.label#facility_id').text(data.result[1]);
            $('.label#card_id').text(data.result[2]);
            $('.selectpicker').selectpicker('val',data.result[3]);
        });
    });

    $(".btn-check").click(function(){
        $.post("/ui/",
                {
                    check: 'true',
                    card_id: $("#access_id").val()
                },
        function(data,status){
            //console.log(data.result[0],data.result[1],data.result[2],data.result[3]);
            $('#access_id').val(data.result[0]);
            $('.label#facility_id').text(data.result[1]);
            $('.label#card_id').text(data.result[2]);
            $('.selectpicker').selectpicker('val',data.result[3]);
        });
    });
    {# run on a 5 second timer() #}{#
    var run_update = function(){
        $.post("/ui/",
                {
                   rfid: 'true'
                },
        function(data,status){
            $('#access_id').val(data);
        });
    };

    var interval = 5000;

    setInterval(run_update, interval);#}
    </script>
{% endblock %}